.odd {
    background-color: #ff000070;
}

#Number2 {
    color: #0000ff;
    font-size: 36px;
}

.cooler {
    font-size: 24px;
}

#Number4 {
    background-color: #00ff0070;
    font-weight: bold;
}